# 1- Indexing

In [1]:
a = "In the heart of bustling city life, diverse cultures converge, creating a vibrant tapestry of experiences. Amidst the urban rhythm, people forge connections, share stories, and embrace the fusion of traditions. Each corner holds a unique narrative, contributing to the rich mosaic that defines the city's dynamic essence."
a[77]

'r'

In [2]:
len(a)

321

In [3]:
a[53:300]

'converge, creating a vibrant tapestry of experiences. Amidst the urban rhythm, people forge connections, share stories, and embrace the fusion of traditions. Each corner holds a unique narrative, contributing to the rich mosaic that defines the ci'

In [4]:
a[-320:-2]

"n the heart of bustling city life, diverse cultures converge, creating a vibrant tapestry of experiences. Amidst the urban rhythm, people forge connections, share stories, and embrace the fusion of traditions. Each corner holds a unique narrative, contributing to the rich mosaic that defines the city's dynamic essenc"

In [5]:
food = ("biryani khaoge ya nhi? ")
food

'biryani khaoge ya nhi? '

In [2]:
#to check the equality case insensitively
str1 = "hello"
str2 = "hello"

if str1.casefold() == str2.casefold():
    print("The strings are case-insensitively equal.")
else:
    print("The strings are different.")

The strings are case-insensitively equal.

In [3]:
#to center align the value
original_string = "Python"
centered_string = original_string.center(50)

print("Original String:", original_string)
print("Centered String:", centered_string)

Original String: Python
Centered String:                       Python

# 2- Tuple

In [4]:
tup1= ('a', 'b', 1, 2, 3, 'bracket')
tup1

('a', 'b', 1, 2, 3, 'bracket')

In [5]:
tup2= ("Ali", "hassan", 55, 90)
tup2

('Ali', 'hassan', 55, 90)

In [6]:
#addition of tuples
tup1 + tup2

('a', 'b', 1, 2, 3, 'bracket', 'Ali', 'hassan', 55, 90)

In [8]:
#length of tupes
len(tup1)

6

In [9]:
#indexing of tuples 
tup1[4]

3

In [ ]:
#for length
len(tup2)

In [ ]:
tup3 = (1,2,3,6,7,8,9)
tup3

In [ ]:
#minimum#
min(tup3)

In [ ]:
#maximum
max(tup3)

# 3- List

In [24]:
list1 = [2, "adnanhyder", False]
list1

[2, 'adnanhyder', False]

In [25]:
type(list1)

list

In [19]:
list2 = [3.4,"Adnan", "Codanics", 478, 52.2, False]
list2

[3.4, 'Adnan', 'Codanics', 478, 52.2, False]

In [20]:
type(list2)

list

In [26]:
list1 + list2

[2, 'adnanhyder', False, 3.4, 'Adnan', 'Codanics', 478, 52.2, False]

In [27]:
list1*2

[2, 'adnanhyder', False, 2, 'adnanhyder', False]

In [28]:
list1.reverse()
list1

[False, 'adnanhyder', 2]

In [29]:
list1.append("khan3211")
list1

[False, 'adnanhyder', 2, 'khan3211']

In [30]:
list1 = (2, 5, False)
list1

(2, 5, False)

In [32]:
two = list1.count(2)
two

1

In [33]:
list3 = [20,30,540,50,15,10,35,65,60]
list3

[20, 30, 540, 50, 15, 10, 35, 65, 60]

In [33]:
len(list3)

9

In [34]:
#sorting a list
list3.sort()
list3

[10, 15, 20, 30, 35, 50, 60, 65, 540]

In [35]:
##confirm the type of lists before multiplying. it should be list type.
list3*2

[20, 30, 540, 50, 15, 10, 35, 65, 60, 20, 30, 540, 50, 15, 10, 35, 65, 60]

In [37]:
#confirm the type of lists before adding. it should be list type.
list3 + list2

[10,
 15,
 20,
 30,
 35,
 50,
 60,
 65,
 540,
 3.4,
 'Adnan',
 'Codanics',
 478,
 52.2,
 False,
 []]

In [38]:
lists = list2 + list3
lists

[3.4,
 'Adnan',
 'Codanics',
 478,
 52.2,
 False,
 [],
 10,
 15,
 20,
 30,
 35,
 50,
 60,
 65,
 540]

In [39]:
#we have to use these [] parenthesis to define the list.
list5= ['list', 'of', 'elements']
list5

['list', 'of', 'elements']

In [7]:
type(list5)

list

In [36]:
list6= [5,6,7,8]
list6

[5, 6, 7, 8]

In [8]:
type(list6)

list

In [6]:
list5 + list6

['list', 'of', 'elements', 5, 6, 7, 8]

In [9]:
len(list5)

3

In [37]:
indexing= len(list6)
indexing

4

In [42]:
#when we will insert an element into the list, we will have also to insert the index number where the element is to be placed.
list5.insert[0(g
list5

<>:2: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:2: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
C:\Users\Farhan Ali\AppData\Local\Temp\ipykernel_6276\4152524331.py:2: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  list5.insert[0(5)]

TypeError: 'int' object is not callable

# 4- Dictionaries
- An unordered collection of elements
- Key and value
- curly braces or brackets { }
- Mutateable / Change the values

In [43]:
#Food and their prices
d1= {"Samosa":30, "Pakora":50, "Raita":20, "Salad":50, "Role":60}
d1

{'Samosa': 30, 'Pakora': 50, 'Raita': 20, 'Salad': 50, 'Role': 60}

In [44]:
type(d1)

dict

### extract data

In [7]:
keys1= d1.keys()
keys1

dict_keys(['Samosa', 'Pakora', 'Raita', 'Salad', 'Role'])

In [8]:
value1= d1.values()
value1

dict_values([30, 50, 20, 50, 60])

### adding new element

In [45]:
d1["tikki"]= 10
d1

{'Samosa': 30, 'Pakora': 50, 'Raita': 20, 'Salad': 50, 'Role': 60, 'tikki': 10}

In [46]:
d1["tikki"]= 20
d1

{'Samosa': 30, 'Pakora': 50, 'Raita': 20, 'Salad': 50, 'Role': 60, 'tikki': 20}

In [18]:
d2={"dates":50, "chocolates":200, "sawaiyan":1000}
d2

{'dates': 50, 'chocolates': 200, 'sawaiyan': 1000}

In [33]:
#Concatenate
d1.update(d2)
d1

{'Samosa': 30,
 'Pakora': 50,
 'Raita': 20,
 'Salad': 50,
 'Role': 60,
 'tikki': 20,
 'dates': 50,
 'chocolates': 200,
 'sawaiyan': 1000}

{'Samosa': 30, 'Pakora': 50, 'Raita': 20, 'Salad': 50, 'Role': 60, 'tikki': 20}

# 5- Set

In [34]:
#unordered and unindexed
#curly braces are used { }
#No duplicated allowed

In [52]:
s1 = {1, 2.2, 5.2, "ammar1", "codanics", "faisalabad"}
s1

{1, 2.2, 5.2, 'ammar1', 'codanics', 'faisalabad'}

In [53]:
type(s1)

set

In [56]:
s1.add("ammar2")

In [57]:
s1

{1, 2.2, 5.2, 'ammar1', 'ammar2', 'codanics', 'faisalabad'}